openapi: 3.0.4
info:
  title: OData Service for namespace microsoft.graph - Subset - Subset
  description: This OData service is located at https://graph.microsoft.com/beta
  version: beta
servers:
  - url: https://graph.microsoft.com/beta

paths:
  /copilot/admin/catalog/packages:
    get:
      tags:
        - copilot.copilotAdmin
      summary: Get packages from copilot
      description: Retrieve a list of copilot packages available in the catalog.
      operationId: copilot_admin_catalog_GetPackages
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $filter
          in: query
          required: true
          schema:
            type: string
            enum:
              - "supportedHosts/any(h:h eq 'Copilot')"
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: copilotPackageDetail
                required:
                  - '@odata.type'
                type: object
                properties:
                  acquireUsersAndGroups:
                    type: array
                    items:
                      title: packageAccessEntity
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        resourceId:
                          type: string
                        resourceType:
                          title: accessEntityType
                          enum:
                            - user
                            - group
                            - unknownFutureValue
                          type: string
                        '@odata.type':
                          type: string
                  allowedUsersAndGroups:
                    type: array
                    items:
                      title: packageAccessEntity
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        resourceId:
                          type: string
                        resourceType:
                          title: accessEntityType
                          enum:
                            - user
                            - group
                            - unknownFutureValue
                          type: string
                        '@odata.type':
                          type: string
                  categories:
                    type: array
                    items:
                      type: string
                  elementDetails:
                    type: array
                    items:
                      title: packageElementDetail
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        elements:
                          type: array
                        elementType:
                          type: string
                          nullable: true
                        '@odata.type':
                          type: string
                  longDescription:
                    type: string
                    nullable: true
                  manifestVersion:
                    type: string
                    nullable: true
                  sensitivity:
                    type: string
                    nullable: true
                  version:
                    type: string
                    nullable: true
                  '@odata.type':
                    type: string

  /copilot/admin/catalog/packages/{id}:
    get:
      tags:
        - copilot.copilotAdmin
      summary: Get Copilot package details
      description: Retrieve detailed metadata for a specific Copilot package (agent/app) by ID.
      operationId: copilot_admin_catalog_GetPackageDetail
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the Copilot package.
          schema:
            type: string
      responses:
        200:
          description: Successful response. Returns copilotPackageDetail.
          content:
            application/json:
              schema:
                title: copilotPackageDetail
                required:
                  - '@odata.type'
                type: object
                properties:
                  acquireUsersAndGroups:
                    type: array
                    items:
                      title: packageAccessEntity
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        resourceId:
                          type: string
                        resourceType:
                          title: accessEntityType
                          enum:
                            - user
                            - group
                            - unknownFutureValue
                          type: string
                        '@odata.type':
                          type: string
                  allowedUsersAndGroups:
                    type: array
                    items:
                      title: packageAccessEntity
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        resourceId:
                          type: string
                        resourceType:
                          title: accessEntityType
                          enum:
                            - user
                            - group
                            - unknownFutureValue
                          type: string
                        '@odata.type':
                          type: string
                  categories:
                    type: array
                    items:
                      type: string
                  elementDetails:
                    type: array
                    items:
                      title: packageElementDetail
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        elements:
                          type: array
                        elementType:
                          type: string
                          nullable: true
                        '@odata.type':
                          type: string
                  longDescription:
                    type: string
                    nullable: true
                  manifestVersion:
                    type: string
                    nullable: true
                  sensitivity:
                    type: string
                    nullable: true
                  version:
                    type: string
                    nullable: true
                  '@odata.type':
                    type: string

components: { }