openapi: 3.0.4
info:
  title: OData Service for namespace microsoft.graph - Subset - Subset
  description: This OData service is located at https://graph.microsoft.com/beta
  version: beta
servers:
  - url: https://graph.microsoft.com/beta
paths:
  /copilot/admin/catalog/packages:
    get:
      tags:
        - copilot.copilotAdmin
      summary: Get packages from copilot
      description: Retrieve a list of copilot packages available in the catalog.
      operationId: copilot_admin_catalog_GetPackages
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $filter
          in: query
          required: true
          explode: true
          description: One or more OData filter expressions. Always include the supportedHosts filter. Add the elementTypes filter when scoping to a specific agent type.
          schema:
            type: array
            items:
              type: string
              enum:
                - "supportedHosts/any(h:h eq 'Copilot')"
                - "elementTypes/any(h:h eq 'DeclarativeCopilots')"
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: copilotPackageDetail
                required:
                  - '@odata.type'
                type: object
                properties:
                  acquireUsersAndGroups:
                    type: array
                    items:
                      title: packageAccessEntity
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        resourceId:
                          type: string
                        resourceType:
                          title: accessEntityType
                          enum:
                            - user
                            - group
                            - unknownFutureValue
                          type: string
                        '@odata.type':
                          type: string
                  allowedUsersAndGroups:
                    type: array
                    items:
                      title: packageAccessEntity
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        resourceId:
                          type: string
                        resourceType:
                          title: accessEntityType
                          enum:
                            - user
                            - group
                            - unknownFutureValue
                          type: string
                        '@odata.type':
                          type: string
                  categories:
                    type: array
                    items:
                      type: string
                  elementDetails:
                    type: array
                    items:
                      title: packageElementDetail
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        elements:
                          type: array
                        elementType:
                          type: string
                          nullable: true
                        '@odata.type':
                          type: string
                  longDescription:
                    type: string
                    nullable: true
                  manifestVersion:
                    type: string
                    nullable: true
                  sensitivity:
                    type: string
                    nullable: true
                  version:
                    type: string
                    nullable: true
                  '@odata.type':
                    type: string
  /copilot/admin/catalog/packages/{id}:
    get:
      tags:
        - copilot.copilotAdmin
      summary: Get Copilot package details
      description: Retrieve detailed information for a specific Copilot package by ID.
      operationId: copilot_admin_catalog_GetPackageById
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the Copilot package.
          schema:
            type: string
      responses:
        200:
          description: Successfully retrieved Copilot package details.
          content:
            application/json:
              schema:
                title: copilotPackageDetail
                type: object
                properties:
                  id:
                    type: string
                  longDescription:
                    type: string
                  shortDescription:
                    type: string
                  version:
                    type: string
                  categories:
                    type: array
                    items:
                      type: string
                  type:
                    type: string
                  manifestVersion:
                    type: string
                  isBlocked:
                    type: boolean
                  supportedHosts:
                    type: array
                    items:
                      type: string
                  lastModifiedDateTime:
                    type: string
                    format: date-time
                  availableTo:
                    type: string
                  deployedTo:
                    type: string
                  allowedUsersAndGroups:
                    type: array
                    items:
                      type: object
                      properties:
                        resourceId:
                          type: string
                        resourceType:
                          type: string
                  elementDetails:
                    type: array
                    items:
                      type: object
                      properties:
                        elementType:
                          type: string
                        elements:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              definition:
                                type: string
        404:
          description: Package not found.
        default:
          description: Unexpected error.
components: { }